body {
    background-color: grey;
    color: #333;
    font-size: 14px;
    line-height:1.5;
    font-family:Helvetica, Verdana, Arial, sans-serif;
}

#squeeze {
    padding: 100px 100px 300px 300px;
    margin-top: -209px;

}
 .right-corner {
     border: 1px solid red;
     background-color: #fff;
     padding:  10px;
 }

#sidebar-first {
     background: #ededed;
     padding:10px;
     border: 1px solid #ccc;
     border-radius:4px;
     width: 150px;

 }
 #header {
     width: 900px;
     height: 100px;
     background-color: #004C80;
 }
#logo-floater {
    display:none;
}
